*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to right,#614385,#516395);
}

.contianer{
    max-width: 500px;
    margin: 200px auto;
    background-color: rgb(207, 218, 228);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 2px 25px rgba(90, 87, 87, 0.3);

}
h1{
    text-align: center;
    margin-bottom: 20px;
    
}